@using LoginSolo.Dtos;
@model AppUserRegisterDto

<h2>Yeni Müşteri</h2>
<form method="post">
	<input type="text" asp-for="Name" placeholder="Adınız" required="">
	<input type="email" asp-for="Email" placeholder="Mail Adresiniz" required="">
	<input type="password" asp-for="Password" placeholder="Şifreniz" required="">
	<div class="text-white" asp-validation-summary="ModelOnly"></div>
	<br /><br />
	<ul class="agileinfotickwthree">
		<li>
			<input type="checkbox" id="brand1" value="">
			<label for="brand1"><span></span>Kullanım Şartlarını Okudum</label>
			<a href="/Login/Index/">Bir Hesabınız Var mı?</a>
		</li>
	</ul>
	<input type="submit" value="Kayıt Ol">
</form>
